<div class="home-container">

  <%= render :partial => 'shared/left_banner' %>
   <div class="portfolio-text">
    <p class="portfolio-header"> EXPERIENCE</p>
    <p class="portfolio-paragraph"> Details of my professional working experience as a software engineer</p>
    <hr class="dashed">
     <div class='experience-project'>
       <div class="experience-text">
         <div class="experience-titles">
           <div class="experience-company">
             <div class="company-logo">
               <%= image_tag 'loadup-icon.webp' %>
             </div>
             <div class="experience-header">
               LoadUp
             </div>
           </div>
           <p class='work-title'>Software Engineer II · Remote</p>
           <p class='work-title'style='color: #555555;'>Jan 2023 - Jan 2024  1 yr 1 mos</p>
         </div>

         <p class="project-bold">Worked on employee facing web app to facilitate management of customer orders, as well as customer facing iOS/Android apps to assist 3rd-party drivers. Some of my responsibilities included:
         </p>
         <ul>



           <li>Building out web and mobile apps using Rails, Turbo Native, Stimulus,
             GraphQL, and React Native</li>
           <li>Eliminating time-consuming processes to drastically improve worker
             productivity</li>
           <li>Performing daily code reviews and working closely with teammates to
             deliver new features</li>
         </ul>
         <button class="view-online">
           <i class="fa fa-external-link white-color"></i>
           <a href="https://goloadup.com/" style='text-decoration: none; color:white'>
             View online
           </a>
         </button>
         <button class="view-online">
           <i class="fa fa-apple white-color"></i>
           <a href="https://apps.apple.com/us/app/loadup-loader/id6448062554" style='text-decoration: none; color:white'>
             iOS
           </a>
         </button>
         <button class="view-online">
           <i class="fa fa-android white-color"></i>
           <a href="https://play.google.com/store/apps/details?id=com.loadup.loader.android&hl=en_US&gl=US" style='text-decoration: none; color:white'>
             Android
           </a>
         </button>
         <p class="tech">TECHNOLOGIES</p>
         <button class="tech-button">RUBY ON RAILS</button>
         <button class="tech-button">JAVASCRIPT</button>
         <button class="tech-button">STIMULUS</button>
         <button class="tech-button">REACT NATIVE</button>
         <button class="tech-button">HEROKU</button>




       </div>
       <div class="experience-image">
         <%= image_tag 'loadup.png' %>
       </div>
     </div>
     <hr class="dashed">
    <div class='experience-project'>
      <div class="experience-text">
        <div class="experience-titles">
          <div class="experience-company">
            <div class="company-logo">
              <%= image_tag 'Assurant_logo.png' %>
            </div>
            <div class="experience-header">
              Assurant Inc.
            </div>
          </div>
          <p class='work-title'>Staff Software Engineer · Remote</p>
          <p class='work-title'style='color: #555555;'>Sept 2021 - Oct 2022  1 yr 2 mos</p>
        </div>

        <p class="project-bold">Worked primarily on Assurant's PocketGeek Home application, which provides support and allows users to
          file insurance claims for various technological devices. Some of my responsibilities included:
        </p>
        <ul>



          <li>Developing and maintaining API backends written with Rails, Javascript, and TypeScript</li>
          <li>Building front-end interfaces for iOS, Android, and Web using React Native</li>
          <li>Coordinating with T-Mobile to develop application for adding insurance to mobile phones</li>
        </ul>
        <button class="view-online">
          <i class="fa fa-external-link white-color"></i>
          <a href="https://www.pocketgeekhome.com/" style='text-decoration: none; color:white'>
            View online
          </a>
        </button>
        <button class="view-online">
          <i class="fa fa-apple white-color"></i>
          <a href="https://apps.apple.com/us/app/pocket-geek-home/id1410854379" style='text-decoration: none; color:white'>
            iOS
          </a>
        </button>
        <button class="view-online">
          <i class="fa fa-android white-color"></i>
          <a href="https://play.google.com/store/apps/details?id=com.pocketgeek.home.android&hl=en_US&gl=US&pli=1" style='text-decoration: none; color:white'>
            Android
          </a>
        </button>
        <p class="tech">TECHNOLOGIES</p>
        <button class="tech-button">RUBY ON RAILS</button>
        <button class="tech-button">JAVASCRIPT</button>
        <button class="tech-button">TYPESCRIPT</button>
        <button class="tech-button">REACT NATIVE</button>
        <button class="tech-button">AWS</button>




      </div>
      <div class="experience-image">
        <%= image_tag 'PG_Home.png' %>
      </div>
    </div>
    <hr class="dashed">
    <div class='experience-project'>
      <div class="experience-text">
        <div class="experience-titles">
          <div class="experience-company">
            <div class="company-logo">
              <%= image_tag 'ApproveShield.png' %>
            </div>
            <div class="experience-header">
              ApproveShield LLC.
            </div>
          </div>
          <p class='work-title'>Full Stack Developer · Richardson, TX</p>
          <p class='work-title'style='color: #555555;'>Nov 2020 - Sept 2021  11 mos</p>
        </div>
        <p class="project-bold">Helped build and maintain a web application used internally, by rental communities, and lease applicants
          to process rental applications during a period which saw 300% growth. Some of my responsibilities included:
        </p>
        <ul>
          <li>Developing new features and integrating APIs to improve app functionality</li>
          <li>Refactoring existing code base to be more efficient</li>
          <li>Monitoring Heroku logs and server health</li>
          <li>Writing test suite to successfully migrate to newer version of Rails</li>
          <li>Helping to interview and hire other developers</li>
        </ul>
        <button class="view-online">
          <i class="fa fa-external-link white-color"></i>
          <a href="https://www.approveshield.com/" style='text-decoration: none; color:white'>
            View online
          </a>
        </button>
        <p class="tech">TECHNOLOGIES</p>
        <button class="tech-button">RUBY ON RAILS</button>
        <button class="tech-button">JAVASCRIPT</button>
        <button class="tech-button">JQUERY</button>
        <button class="tech-button">HEROKU</button>
        <button class="tech-button">MYSQL2</button>
      </div>
      <div class="experience-image">
        <%= image_tag 'ApproveShield_Big.png' %>
      </div>
  </div>
</div>
